body { 
    background-color: #EDDDD0;
    min-height: 99vh;

a,li{
    padding:20px;
    list-style-type: none;
    text-decoration: none;
    display: inline-flex;
 }

 .fontfamily {
    font-family: 'Montserrat', sans-serif;
}

#container{
    display: grid;
    width:100%;
    height: 100vh;
    grid-template-rows: 200px 600px 80px;
    grid-template-columns:2fr 1fr ;
    }


.headerandnav{

    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: #A6CAD4;
    text-align: center;
}

aside{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    padding: 90px;
}

main{ 
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

footer{
    margin-top: auto;
    display: flex;
    background-color:#A6CAD4 ;
    justify-content:center;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    height: 20px;
}


