body { 
	background-color: #e9e8e6;
}

h1 {
    color :navy ;
    margin-left : 20px;
}
.navigation{
    background-color: lightblue;
}

.align{
    text-align: center;
}
.fontfamily {
    font-family: 'Montserrat', sans-serif;
}